:root{
  
  --main-color: #000;
  --color-1: #e91e63;
  --color-2: #f5ae10;
  --color-3: #09d69c;
  --bg-dark: #2b2cff;
  --main-to-dark-color: var(--main-color);
}

body{
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #fff;
  line-height: 1.5;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}

img{
  max-width: 100%;
  vertical-align: middle;
}

ul{
  list-style: none;
}